<header class="header">
	<h1 class="name">Steve Thorne</h1>
	<h2 class="title">Software Developer</h2>
	<div class="headshot-border">
		<picture class="headshot-picture">
			<source srcset="/img/3374032.webp" type="image/webp" />
			<source srcset="/img/3374032.jpg" type="image/jpeg" />
			<img
				class="headshot-img"
				src="/img/3374032.jpg"
				alt="Steve Thorne"
				loading="lazy"
			/>
		</picture>
	</div>
</header>

<style>
	.header {
		flex: 0 1 auto;
		background-color: rgba(45, 55, 72, 1);
		width: 100%;
		padding: 1rem 0;
		border-bottom: 2px solid rgba(49, 130, 206, 1);
		margin-bottom: 3rem;
	}

	.name {
		font-family: Roboto, sans-serif;
		font-size: 1.875rem;
		text-align: center;
		font-weight: 700;
		letter-spacing: 0.05em;
	}

	.title {
		font-family: Roboto, sans-serif;
		font-size: 1.125rem;
		text-align: center;
		letter-spacing: 0.05em;
		margin-top: -0.5rem;
	}

	.headshot-border {
		display: flex;
		justify-content: center;
		margin-top: 0.75rem;
		margin-bottom: -5rem;
	}

	.headshot-picture {
		width: 8rem;
		height: 8rem;
		background-color: rgba(45, 55, 72, 1);
		border: 2px solid rgba(49, 130, 206, 1);
		border-radius: 9999px;
		box-shadow: 0 0 transparent, 0 0 transparent,
			inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
		overflow: hidden;
	}

	.headshot-img {
		width: 8rem;
		height: 8rem;
	}

	@media (min-width: 768px) {
		.name {
			font-size: 2.25rem;
		}

		.title {
			font-size: 1.25rem;
			margin-top: -0.75rem;
		}
	}

	@media (min-width: 1024px) {
		.name {
			font-size: 3rem;
		}

		.title {
			font-size: 1.5rem;
		}
	}
</style>
