---
import Skill from "./Skill.astro";

export interface Props {
	title: string;
	skills: string[];
}

const { title, skills } = Astro.props as Props;
---

<div class="skill-list-container">
<h2 class="skill-title">{title}</h2>
<ul class="skill-list">
	{skills.map((skill) => <Skill label={skill} />)}
</ul>
</div>

<style>
	.skill-list-container {
		flex: 1 1 0%;
	}

	.skill-title {
		text-align: center;
		font-size: 1.5rem;
		letter-spacing: 0.025em;
		font-family: Roboto, sans-serif;
		font-weight: 700;
		margin-bottom: 0.25rem;
	}

	.skill-list {
		list-style: none;
		padding-left: 0;
		margin-left: 2.5rem;
	}
</style>
